.orderInfo__button {
  background: linear-gradient(90deg, var(--main-color) 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 100%;
  height: 48px;

  &:hover {
    background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  }

  &:active {
    background: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
  }

  &:target {
    background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  }

  &:disabled {
    background: var(--main-color-light);
  }
}

.modal__header,
.modal__body {
  display: flex;
}

.modal__header {
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: var(--main-color-black);
}

.modal__body {
  justify-content: space-between;
  gap: 16px;

  button {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 177px;
    height: 48px;

    @media screen and (max-width: 480px) {
      width: 140px;
    }
  }

  .button__confirm {
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;

    &:hover {
      background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
    }
  }

  .button__return {
    background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
    border-radius: 4px;

    &:hover {
      background: linear-gradient(90deg, #36240e 0%, #660a30 100%);
    }
  }
}
