.localizationBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: var(--main-color);
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 50%;

  &:hover {
    border: 1px solid var(--main-color-light);
    color: var(--main-color-light);
  }

  &:active {
    color: var(--main-color);
  }
}
