@import-normalize;
@import "./styles/fonts";

:root {
  --main-color: #0ec261;
  --main-color-black: #121212;
  --main-color-grey: #999999;
  --main-color-light: #eeeeee;
}
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.swiper-pagination {
  bottom: 32px !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #eeeeee;
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

.disabled {
  opacity: 0.2;
  &:hover {
    background: transparent;
    pointer-events: none;
  }
}
